@model IEnumerable<MovieData.User>
@{
    ViewBag.Title = "Index";

    MovieData.User currentUser = null;
    if (User.Identity.IsAuthenticated)
    {
        currentUser = Model.FirstOrDefault(u => u.Email == User.Identity.Name);
    }
}

<div class="container">

    <div class="header-box">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="welcome-user" style="display:flex; align-items:center;">
                <!-- Slika korisnika -->
                <img src="@currentUser.ImageUrl?ts=@DateTime.Now.Ticks" alt="User Image"
                     style="width:50px; height:50px; border-radius:50%; margin-right:10px;"/>

                <!-- Tekst dobrodošlice -->
                <h2 class="welcome-text" style="margin:0;">
                    Welcome, @currentUser.Email
                </h2>
            </div>


            <div class="button-group">
                @using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-orange">Log Out</button>
                }

                @Html.ActionLink("Profile", "Profile", "User", null, new { @class = "btn btn-orange" })
                @Html.ActionLink("Lista diskusija", "Index", "Post", null, new { @class = "btn btn-orange" })

                @using (Html.BeginForm("BecomeAuthorConfirmed", "User", FormMethod.Post, new { id = "becomeAuthorForm", style = "display:inline-block;" }))
                {
                    @Html.AntiForgeryToken()
                    if (currentUser != null && currentUser.UserRole != MovieData.UserRole.Author && currentUser.Email.ToLower().Contains("@author"))
                    {
                        <button type="submit" class="btn btn-orange">Become an Author</button>
                    }
                }
            </div>
        }
        else
        {
            <h2 class="welcome-text">Welcome, Guest</h2>
            <p class="guest-links">
                @Html.ActionLink("Log in", "Login", null, new { @class = "btn btn-orange" })
                @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-orange", style = "margin-left:10px;" })
            </p>
        }
    </div>

    <div class="card-box">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.RowKey)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Country)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>