@model IEnumerable<MovieData.User>
@{
    ViewBag.Title = "Index";

    MovieData.User currentUser = null;
    if (User.Identity.IsAuthenticated)
    {
        currentUser = Model.FirstOrDefault(u => u.Email == User.Identity.Name);
    }
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome @ViewBag.Username</h2>

    using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <button type="submit">Log Out</button>
    }

    @Html.ActionLink("Profile", "Profile", "User", null, new { @class = "btn btn-primary", style = "margin-left:10px;" })

    @Html.ActionLink("Lista diskusija", "Index", "Post", null, new { @class = "btn btn-secondary", style = "margin-left:10px;" })

    @* Become Author button as a form POST *@
    using (Html.BeginForm("BecomeAuthorConfirmed", "User", FormMethod.Post, new { id = "becomeAuthorForm", style = "display:inline-block; margin-left:10px;" }))
    {
        @Html.AntiForgeryToken()
        if (currentUser != null && currentUser.UserRole != MovieData.UserRole.Author && currentUser.Email.ToLower().Contains("@author"))
        {
            <button type="submit" class="btn btn-success">Become an Author</button>
        }
    }
}
else
{
    <h2>Welcome, Guest</h2>
}

<p>
    @if (!User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Log in", "Login")
        @: |
        @Html.ActionLink("Register", "Register")
    }
</p>

<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>City</th>
        <th>Address</th>
        <th>Gender</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.RowKey)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Country)</td>
            <td>@Html.DisplayFor(modelItem => item.City)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.Gender)</td>
        </tr>
    }
</table>
